@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}
